**/klee*/
**/*klee*/
**/*klee/
*.bc./cwe123/example/klee-last
./cwe123/output/generated/klee-fgets_03
./cwe123/output/generated/klee-connect_socket_01
./cwe124/example/klee-last
./cwe124/output/generated/klee-out-0/klee-last
./cwe124/output/generated/klee-ncpy_03
./cwe124/output/generated/klee-cpy_01
./cwe124/output/generated/klee-out-1/klee-last

**/.venv*/
**/*.venv*/
**/*.venv/

**/generated*/


**/.env*
**/*.key
**/credentials*
